* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.skills-section {
  width: 95dvw;
  margin: auto;

  &__icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
    margin-top: 20px;
  }
}
