//Generic Colours
$basic-black: #000000;
$basic-white: #ffffff;

//Buttons
$button-text-colour: #ff00a6;

//Tooltips
$tooltip-background: #8a2be2;
$tooltip-font-colour: #42037c;

//To import use: @use "../../assets/Variables/ColourVariables.scss" as *;
