//Font variables (Public Sans, Questrial, Recursive, Rosario available)
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Questrial&family=Recursive:wght@300..1000&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap");

//Buttons
$navbutton-font: "Rosario", sans-serif;

//Headings
$page-heading: "Questrial", sans-serif;
$intro-heading: "Public Sans", sans-serif;
$about-me-heading: "Questrial", sans-serif;
$skills-heading: "Questrial", sans-serif;

//Labels
$skills-label: "Public Sans", sans-serif;
$skill-icon-label: "Questrial", sans-serif;

//Paragraphs
$intro-paragraph: "Public Sans", sans-serif;
$about-me-paragraph: "Public Sans", sans-serif;

//To import use: @use "../../assets/Variables/TextVariables.scss" as *;
