* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hamburger {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;

  &__patty {
    width: 28px;
    height: 4px;
    border-radius: 10px;
    background-color: black;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }
}
