@use "../../assets/Variables/ColourVariables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100dvw;
  background-color: $basic-black;

  &__icons {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
  }
}
