@use "../../assets/Variables/TextVariables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro-section {
  text-align: center;
  margin-left: 5px;
  min-height: fit-content;

  &__header {
    font-family: $intro-heading;
    margin: 30px 0;
  }

  &__content {
    font-family: $intro-paragraph;
  }
}
