@use "../../assets/Variables/ColourVariables.scss" as *;
@use "../../assets/Variables/TextVariables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-me {
  display: flex;
  flex-direction: column;
  width: 95dvw;
  margin: auto;
  margin-top: 30px;

  &__header {
    margin-bottom: 20px;
  }

  &__image {
    margin-bottom: 22.5px;
  }

  &__paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 360px;
    font-family: $about-me-paragraph;
    font-size: 15px;
  }
}
